.repo-name {
  color: #0366d6;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: px;
}
.repo-info {
  color: #586069;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}
.language-dot {
  height: 12px;
  width: 12px;
  background-color: #586069;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.repos-container {
  padding: 10px;
}
